/*
**  Declarations
*/

@font-face {
	font-family: Humblle Rought;
	font-weight: normal;
	font-style: normal;
	src: url("fonts/Humblle_Rought_Caps.otf");
}

@font-face {
	font-family: Gidole;
	font-weight: normal;
	font-style: normal;
	src: url("fonts/Gidole-Regular.otf");
}

@font-face {
	font-family: Uni Sans;
	font-weight: bold;
	font-style: normal;
	src: url("fonts/Uni_Sans_Heavy.otf");
}

@font-face {
	font-family: Uni Sans;
	font-weight: normal;
	font-style: normal;
	src: url("fonts/Uni_Sans_Thin.otf");
}

header {
	height: 100vh;
	background: #fef3e2;
	overflow: hidden;
	position: fixed;
	z-index: -1;
	margin-top: -100vh;
}

footer {
	height: 100vh;
	background: purple;
	position: static;
	z-index: 100;
	margin-top: 100vh;
}

h1, h2, h3, a {
	font-family: Humblle Rought !important;
}

p {
	font-family: Gidole !important;
}

nav {
	text-align: center;
	padding-top: 2%;
	margin-bottom: 1.5%;
}

nav > a, nav > img {
	padding-left: 1%;
	padding-right: 1%;
}

#hLogo {
	border-radius : 100%;
	width: 15%;
	height: auto;
}

a {
	font-size: 1.8em;
	/* font-family: Gidole !important; */
	color: #9bc01c !important;
}

a:hover {
	text-decoration: none !important;
	color: #f52549 !important;
}

#hSB {
	height: 100%;
	background: url('assets/saladBowl.png');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	padding-top: 10%;
}

span.USanBold > h1 {
	font-family: Uni Sans !important;
	font-weight: bold;
	font-size: 6em;
	color: #fef3e2;
    background: rgba(245,85,96,.75);
    border-radius: 35px;
    display: inline;
    padding: 0% 1.5%;
}

#hSB > h1 {
	position: relative;
    margin-top: 9.5%;
    color: #f52549;
    font-size: 3.5em;
}

.hGoUp {
	font-size: .75em !important;
	padding: 0% .1% 0% .25%;
    border-top: 2px solid #f52549;
    border-left: 2px solid #f52549;
    border-right: 2px solid #f52549;
}

.hGoDown {
	font-size: .75em !important;
	padding: 0% .1% 0% .25%;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
}

#fTopH {
	position: relative;
    margin-top: -3%;
    /* color: #f52549; */
    font-size: 3.5em;
}

#fTop {
	height: 85%;
	background: url('assets/tableBack.png');
	position: relative;
	z-index: 120;
	box-shadow: 0px 7.5px 10px rgba(205, 199, 199, .75);
	text-align: center;
	overflow: hidden;
}

#fBot {
	height: 15%;
	background: #fef3e2;
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
}

#fBot > h1 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	font-size: 4em;
	color: #f52549;
}

#fLogo {
	width: 70px;
	height: auto;
	border-radius: 100%;
	float: left;
	margin-left: 30%;
	margin-top: .4%;
}

#fCopy {
	float: left;
	font-family: Gidole !important;
	font-size: 1.2em;
	margin-top: .2%;
}

#fTitle {
	float: right;
}

#fSplash {
	margin-top: 4%;
	font-family: Uni Sans !important;
	font-weight: bold;
	font-size: 5em;
}

#fText {
	font-family: Gidole;
	font-size: 2em;
	display: block;
	margin-top: 3%;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
	border: 2px solid #d1d1d1;
	border-radius: 25px !important;
	font-family: Uni Sans !important;
	font-weight: bold !important;
	font-size: 2em !important;
	padding: .75% 1.5%;
}

textarea {
	width: 100%;

}

button {
	border: 2px solid #f52549;
	border-radius: 25px !important;
	font-family: Uni Sans !important;
	font-weight: bold !important;
	font-size: 2em !important;
	color: #fef3e2 !important;
	padding: .75% 1.5%;
	background: #fa6755;
}

button:hover {
	background: #f52549;
	border: 2px solid #fa6755;
}

#txtEmail, #btnSubmit {
	margin-top: 3.5%;
}

#sBody {
	height: 100vh;
	background: #9bc01c;
}

#sNav {
	height: 15vh;
	background: #9bc01c;
	margin-bottom: 0 !important;
}

#sBanner {
	background: url('assets/saladBowl.png') #fef3e2;
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: left;
	height: 85vh;
	text-align: right;
	padding: 5% 7.5%;
	font-family: Gidole !important;
}

#sFooter {
	background: #9bc01c;
	height: 50vh;
	text-align: center;
	font-family: Humblle Rought !important;
	padding-top: 2%;
}

#sLogo {
	width: 10%;
	height: auto;
	border-radius: 100%;
}

#sNav > a {
	color: #fef3e2 !important;
	margin-top: 1%;
}

#sNav > a:hover {
	text-decoration: underline !important;
}

#BanCont {
	padding: 6.5% 7.5%;
	width: 55%;
	float: right;
	text-align: center;
}

#sBanner h1 {
	font-family: Gidole !important;
	font-size: 2em;
	/* color: #f52549; */
	margin-top: .25% !important;
}

#sbTxt {
	font-family: Uni Sans !important;
	font-weight: bold;
	font-size: 2.5em;
	color: #f52549;
}

#BanCont > p {
	font-size: 1.5em;
}

#bLink {
	display: inline-block;
	width: 70%;
	height: 40px;
	background: white;
	border: 2px solid grey;
	border-radius: 5px;
	overflow: hidden;
	color: #c1c1c1;
	font-size: 1.5em;
	padding-top: .5%;
}

#sFooter > h1 {
	color: #fff;
	margin: 0 !important;
	font-size: 5em;
}

#footNav {
	margin-top: 2%;
}

#footNav > a {
	color: #fff !important;
}

#footNav > a:hover {
	color: #9bc01c !important;
	background: #fef3ef;
	border-radius: 25px;
	padding-bottom: .75%;
}

#cBanner {
	height: 85vh;
	text-align: right;
	padding: 5% 7.5%;
	font-family: Gidole !important;
	background: #fef3e2;
}

#cFMess, #cForm {
	width: 50%;
	float: left;
}

#cForm {
	padding-top: 1%;
}

#cForm > input {
	display: block;
	float: left;
}

#cForm > input, #cForm >textarea {
	margin-bottom: 2%;
}

#ctxtMessage {
	height: 40vh !important;
}

#cFMess {
	padding-top: 6%;
	padding-right: 10%;
}

#cFMess > h1 {
	color: #f52549;
	font-family: Uni Sans !important;
	font-weight: bold;
	font-size: 4em;
}

#cFMess > h1 > span {
	font-weight: normal;
	color: #333;
}